.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin:20px;
   
}
.container>div{
    margin-bottom:20px;
    gap:30px;
}
.btn{
    width:200px;
    background-color: aquamarine;
    height:40px;
}
.van{
    border:1px solid purple;
    border-radius:20px;
    color:orange;
}
.sam{
    display: flex;
    /* gap:100px; */
    justify-content: space-evenly;
}
.ban{
    text-decoration: line-through;
}
.aman{
    height:30px;
    width:30px;
    background-color: red;
    border-radius:50%;
    font-weight: bolder;
}